<template>
  <div>
    <section class="hero">
      <div class="hero-head">
        <app-nav :current-user="currentUser"></app-nav>
      </div>
    </section>
    <section class="section has-background-grey-light mt3rem">
      <div class="container">
        <div class="columns is-full">
          <div class="column is-9">
            <div class="columns is-full">
              <div class="column is-11">
                <div class="card">
                  <header class="card-header has-background-dark">
                    <div class="container">
                      <div class="columns is-full">
                        <div class="column">
                          <div class="level">
                            <div class="level-left">
                              <h1 class="card-header-title title3 level-item">
                                Pending Evaluation
                              </h1>
                            </div>
                            <div>
                              <time
                                class="has-text-white level-item card-header-icon"
                              >
                                Last Updated on 01 December 2018 | 15:32:03
                              </time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </header>
                  <div style="margin:20px;">
                    <div class="count-lbl">
                      There are 0 products pending eveluation
                    </div>
                    <br />
                    <br />
                    <div class="columns">
                      <div class="column is-2">
                        <div class="columns">
                          <div class="column">Show:</div>
                          <div class="column">5</div>
                          <div class="column">
                            <span class="icon btniconw">
                              <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x fa-xs"></i>
                                <i
                                  class="fas fa-chevron-down fa-stack-1x has-text-light fa-md"
                                ></i>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <span class="search-input">
                          <p class="control">
                            <input
                              class="input is-rounded"
                              type="text"
                              placeholder="Content ID"
                            />
                          </p>
                        </span>
                      </div>
                    </div>
                    <div class="columns is-mobile">
                      <div class="column column-header column-header-lbl">
                        <span class="">
                          Product ID
                        </span>
                      </div>
                      <div class="column column-header column-header-lbl">
                        <span class="">
                          Category
                        </span>
                      </div>
                      <div class="column column-header column-header-lbl">
                        <span class="">
                          Selling Price (RM)
                        </span>
                      </div>
                      <div class="column column-header column-header-lbl">
                        <div class="">
                          Outright Price (RM)
                        </div>
                      </div>
                      <div class="column column-header column-header-lbl">
                        <span class="">
                          Last Update
                        </span>
                      </div>
                      <div class="column column-header column-header-lbl">
                        <span class="">
                          Approval Status
                        </span>
                      </div>
                      <div class="column column-header column-header-lbl">
                        <span class="">
                          Action
                        </span>
                      </div>
                    </div>
                    <div class="has-text-centered" style="padding-bottom:10px;">
                      No pending evaluations
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <acc-side-nav :current-user="currentUser"></acc-side-nav>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AppNav from '~/components/utils/topnav2.vue'
import AccSideNav from '~/components/account/sidenav.vue'

export default {
  middleware: ['check-auth', 'authenticated'],
  components: {
    AppNav,
    AccSideNav
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      currentUser: 'auth/currentUser'
    })
  },
  fetch({ store, params }) {
    return store.dispatch('auth/setCurrentUser')
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>
.title3 {
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}
.card-content.account {
  border-bottom: 1px solid #828282;
}
.count-lbl {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #000000;
}
.bullet-down {
  position: absolute;
  height: 10px;
  width: 10px;

  background: #000000;
  transform: matrix(0, 1, 1, 0, 0, 0);
}
.column-header {
  height: 30px;
  background-color: rgb(245, 245, 245);
  margin-right: 2px;
}
.column-header-lbl {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;

  color: #000000;
}
.search-input {
  width: 200px;
  float: right;
}
.search-input .input {
  background-color: rgb(245, 245, 245);
}
</style>
