<template>
  <aside class="menu">
    <div v-if="currentUser.email === 'evaluator@gmail.com'">
      <p class="menu-label">
        Account
      </p>
      <ul class="menu-list">
        <li>
          <nuxt-link class="is-active-account-menu" to="/account">
            <span>My Profile</span>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/evaluations">
            <span>Pending Evaluation</span>
          </nuxt-link>
        </li>
        <li><a>Past Evaluation</a></li>
        <li><a>Commission</a></li>
      </ul>
      <p class="menu-label">
        <a @click="logout()">Logout</a>
      </p>
    </div>
    <div v-else-if="currentUser.email === 'contributor@gmail.com'">
      <p class="menu-label">
        Account
      </p>
      <ul class="menu-list">
        <li>
          <nuxt-link class="is-active-account-menu" to="/account">
            <span>My Profile</span>
          </nuxt-link>
        </li>
        <li><a>Dashboard</a></li>
        <li><a>Contributor Profile</a></li>
        <li><a>Content Gallery</a></li>
        <li><a>Content Status</a></li>
        <li><a>Upload Content</a></li>
        <li><a>Earnings</a></li>
      </ul>
      <p class="menu-label">
        <a @click="logout()">Logout</a>
      </p>
    </div>
    <div v-else-if="currentUser.email === 'admin@gmail.com'">
      <p class="menu-label">
        Overview
      </p>
      <ul class="menu-list">
        <p class="menu-label">
          Accounts & Users
        </p>
        <p class="menu-label">
          Product Inventories
        </p>
        <p class="menu-label">
          Plans & Pricing
        </p>
        <p class="menu-label">
          Reports
        </p>
        <p class="menu-label">
          Manage Website
        </p>
        <p class="menu-label">
          Editorial - Kreatifmarket | Blog
        </p>
      </ul>
      <p class="menu-label">
        <a>Helpdesk</a>
      </p>
      <p class="menu-label">
        <a @click="logout()">Logout</a>
      </p>
    </div>
    <div v-else>
      <p class="menu-label">
        Account
      </p>
      <ul class="menu-list">
        <li>
          <nuxt-link class="is-active-account-menu" to="/account">
            <span>My Profile</span>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/account/plans">
            <span>Plans & Pricing</span>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/account/billings">
            <span>Billings</span>
          </nuxt-link>
        </li>
        <li><a>Purchase History</a></li>
        <li><a>Download History</a></li>
        <li>
          <nuxt-link to="/collections">
            <span>Collections</span>
          </nuxt-link>
        </li>
      </ul>
      <p class="menu-label">
        <a @click="logout()">Logout</a>
      </p>
    </div>
  </aside>
</template>

<script>
export default {
  props: {
    currentUser: {
      type: Object,
      required: true
    }
  },
  data() {
    return {}
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>
.is-active-account-menu {
  font-weight: 900;
}
</style>
