<template>
  <div>
    <section class="hero">
      <div class="hero-head">
        <app-nav :current-user="currentUser"></app-nav>
      </div>
    </section>
    <section class="section has-background-grey-light mt3rem">
      <div class="container">
        <div class="columns is-full">
          <div class="column is-9">
            <div class="columns is-full">
              <div class="column is-11">
                <div class="card">
                  <header class="card-header has-background-dark">
                    <div class="container">
                      <div class="columns is-full">
                        <div class="column">
                          <div class="level">
                            <div class="level-left">
                              <h1 class="card-header-title title3 level-item">
                                Billings
                              </h1>
                            </div>
                            <div>
                              <time
                                class="has-text-white level-item card-header-icon"
                              >
                                Last Updated on 01 December 2018 | 15:32:03
                              </time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </header>
                  <div class="card-content account">
                    <div class="content">
                      <div class="columns">
                        <div class="column">
                          <div class="level is-mobile">
                            <div class="level-left">
                              <span class="level-item has-text-grey is-size-5">
                                Payment Method
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="columns is-full">
                        <div class="column">
                          <a class="button is-large is-fullwidth">
                            <span class="is-size-7">Add Payment Method +</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <div class="columns">
                        <div class="column">
                          <div class="level is-mobile">
                            <div class="level-left">
                              <span class="level-item has-text-grey is-size-5">
                                Billings Address
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="columns is-full">
                        <div class="column">
                          <a class="button is-large is-fullwidth">
                            <span class="is-size-7">Add Billing Address +</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <aside class="menu">
              <p class="menu-label">
                Account
              </p>
              <ul class="menu-list">
                <li>
                  <nuxt-link to="/account">
                    <span>My Profile</span>
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/account/plans">
                    <span>Plans & Pricing</span>
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    class="is-active-account-menu"
                    to="/account/billings"
                  >
                    <span>Billings</span>
                  </nuxt-link>
                </li>
                <li><a>Purchase History</a></li>
                <li><a>Download History</a></li>
                <li><a>Collections</a></li>
                <li><a>Wishlist</a></li>
              </ul>
              <p class="menu-label">
                Contributions
              </p>
              <p class="menu-label">
                Evaluation
              </p>
              <p class="menu-label">
                Administration
              </p>
              <p class="menu-label">
                <a @click="logout()">Logout</a>
              </p>
            </aside>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AppNav from '~/components/utils/topnav2.vue'

export default {
  middleware: ['check-auth', 'authenticated'],
  components: {
    AppNav
  },
  computed: {
    ...mapGetters({
      currentUser: 'auth/currentUser'
    })
  },
  fetch({ store, params }) {
    return store.dispatch('auth/setCurrentUser')
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/auth')
    }
  }
}
</script>

<style scoped>
.title3 {
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}
.is-active-account-menu {
  font-weight: 900;
}
.card-content.account {
  border-bottom: 1px solid #828282;
}
</style>
