<template>
  <div>
    <section class="hero">
      <div class="hero-head">
        <app-nav :current-user="currentUser"></app-nav>
      </div>
    </section>
    <section class="section has-background-grey-light mt3rem">
      <div class="container">
        <div class="columns is-full">
          <div class="column is-9">
            <div class="columns is-full">
              <div class="column is-11">
                <div class="card">
                  <header class="card-header has-background-dark">
                    <div class="container">
                      <div class="columns is-full">
                        <div class="column">
                          <div class="level">
                            <div class="level-left">
                              <h1 class="card-header-title title3 level-item">
                                Contributor Profile
                              </h1>
                            </div>
                            <div>
                              <time
                                class="has-text-white level-item card-header-icon"
                              >
                                Last Updated on 01 December 2018 | 15:32:03
                              </time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </header>
                  <profile-form :current-user="currentUser"></profile-form>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <acc-side-nav :current-user="currentUser"></acc-side-nav>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AppNav from '~/components/utils/topnav2.vue'
import AccSideNav from '~/components/account/sidenav.vue'
import ProfileForm from '~/components/account/contributor/profile_form.vue'

export default {
  middleware: ['check-auth', 'authenticated'],
  components: {
    AppNav,
    AccSideNav,
    ProfileForm
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      currentUser: 'auth/currentUser'
    })
  },
  fetch({ store, params }) {
    return store.dispatch('auth/setCurrentUser')
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>
.title3 {
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}
.card-content.account {
  border-bottom: 1px solid #828282;
}
</style>
