<template>
  <div>
    <section class="hero">
      <div class="hero-head">
        <app-nav :current-user="currentUser"></app-nav>
      </div>
    </section>
    <section class="section has-background-grey-light mt3rem">
      <div class="container">
        <div class="columns is-full">
          <div class="column is-9">
            <div class="columns is-full">
              <div class="column is-11">
                <div class="card">
                  <header class="card-header has-background-dark">
                    <div class="container">
                      <div class="columns is-full">
                        <div class="column">
                          <div class="level">
                            <div class="level-left">
                              <h1 class="card-header-title title3 level-item">
                                My Profile
                              </h1>
                            </div>
                            <div>
                              <time
                                class="has-text-white level-item card-header-icon"
                              >
                                Last Updated on 01 December 2018 | 15:32:03
                              </time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </header>
                  <profile-form :current-user="currentUser"></profile-form>
                  <div class="card-content account">
                    <div class="content">
                      <p class="has-text-grey is-size-5">
                        Link Account
                      </p>
                      <div class="columns">
                        <div class="column">
                          <div class="prelative">
                            <a class="button is-medium is-fullwidth is-rounded">
                              Connect with Facebook
                            </a>
                            <a
                              class="button is-medium roundiconbtnfloatleft bg-fb"
                            >
                              <b-icon
                                type="is-white"
                                icon="facebook-f"
                                pack="fab"
                                size="is-small"
                              >
                              </b-icon>
                            </a>
                          </div>
                        </div>
                        <div class="column">
                          <div class="prelative">
                            <a class="button is-medium is-fullwidth is-rounded">
                              Connect with Google
                            </a>
                            <a
                              class="button is-medium roundiconbtnfloatleft bg-google"
                            >
                              <b-icon
                                type="is-white"
                                icon="google-plus-g"
                                pack="fab"
                                size="is-small"
                              >
                              </b-icon>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <div class="columns">
                        <div class="column">
                          <div class="level is-mobile">
                            <div class="level-left">
                              <span class="level-item has-text-grey is-size-5">
                                Password
                              </span>
                            </div>
                            <div class="level-right">
                              <a
                                v-if="!isEditing"
                                class="level-item has-text-primary"
                                @click="editPass()"
                              >
                                Edit
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <fieldset :disabled="!isEditing">
                        <div class="columns is-full">
                          <div class="column">
                            <div class="field">
                              <label class="label">Password</label>
                              <div class="control">
                                <input
                                  v-model="pasword"
                                  class="input"
                                  type="password"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="column">
                            <div class="field">
                              <label class="label">Confirmation Password</label>
                              <div class="control">
                                <input
                                  v-model="confirmPassword"
                                  class="input"
                                  type="password"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div v-if="isEditing" class="block is-pulled-right">
                          <a class="button is-rounded" @click="cancelEdit()">
                            Cancel
                          </a>
                          <a class="button is-primary is-rounded">
                            Save
                          </a>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <acc-side-nav :current-user="currentUser"></acc-side-nav>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AppNav from '~/components/utils/topnav2.vue'
import AccSideNav from '~/components/account/sidenav.vue'
import ProfileForm from '~/components/account/customer/profile_form.vue'

export default {
  middleware: ['check-auth', 'authenticated'],
  components: {
    AppNav,
    AccSideNav,
    ProfileForm
  },
  data() {
    return {
      isEditing: false
    }
  },
  computed: {
    ...mapGetters({
      currentUser: 'auth/currentUser'
    })
  },
  fetch({ store, params }) {
    return store.dispatch('auth/setCurrentUser')
  },
  methods: {
    editPass() {
      this.isEditing = true
    },
    cancelEdit() {
      this.isEditing = false
      this.password = null
      this.confirmPassword = null
    },
    logout() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>
.title3 {
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}
.card-content.account {
  border-bottom: 1px solid #828282;
}
</style>
