<template>
  <div>
    <section class="hero is-dark is-medium with-bg">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="../">
                <img src="/km.png" class="kreatifmarket" />
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end nav-spacer">
                <span class="navbar-item with-right-pipe">
                  <a class="button is-text is-text-no-underline">
                    <span>Discover</span>
                    <font-awesome-layers class="fa-stack">
                      <font-awesome-icon
                        :icon="['fas', 'circle']"
                        class="fa-stack-2x fa-xs"
                      />
                      <font-awesome-icon
                        :icon="['fas', 'chevron-down']"
                        class="fa-stack-1x fa-xs has-text-dark"
                      />
                    </font-awesome-layers>
                  </a>
                </span>
                <span class="navbar-item with-right-pipe">
                  <a class="button is-text is-text-no-underline">
                    <span>Plans & Pricings</span>
                    <font-awesome-layers class="fa-stack">
                      <font-awesome-icon
                        :icon="['fas', 'circle']"
                        class="fa-stack-2x has-text-warning fa-xs"
                      />
                      <font-awesome-icon
                        :icon="['fas', 'dollar-sign']"
                        class="fa-stack-1x fa-xs"
                      />
                    </font-awesome-layers>
                  </a>
                </span>
                <span class="navbar-item with-right-pipe">
                  <a class="button is-text is-text-no-underline">
                    <span>Submit a Photo</span>
                    <font-awesome-layers class="fa-stack">
                      <font-awesome-icon
                        :icon="['fas', 'circle']"
                        class="fa-stack-2x has-text-success fa-xs"
                      />
                      <font-awesome-icon
                        :icon="['fas', 'chevron-right']"
                        class="fa-stack-1x fa-xs"
                      />
                    </font-awesome-layers>
                  </a>
                </span>
                <span class="navbar-item">
                  <a class="button is-white is-outlined">
                    <span>Login</span>
                    <font-awesome-layers class="fa-stack">
                      <font-awesome-icon
                        :icon="['fas', 'circle']"
                        class="fa-stack-2x fa-xs"
                      />
                      <font-awesome-icon
                        :icon="['fas', 'chevron-right']"
                        class="fa-stack-1x fa-xs has-text-dark"
                      />
                    </font-awesome-layers>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns is-full">
            <div class="column">
              <h1 class="title">
                Capturing the local flavor at it best
              </h1>
              <h2 class="subtitle">
                Join kreatifmarket's community of contributors and earn money
                doing what you love.
              </h2>
              <p class="mt20">
                <nuxt-link class="button is-white is-rounded" to="/">
                  <span>Get Started</span>
                  <font-awesome-layers class="fa-stack">
                    <font-awesome-icon
                      :icon="['fas', 'circle']"
                      class="fa-stack-2x has-text-primary fa-xs"
                    />
                    <font-awesome-icon
                      :icon="['fas', 'chevron-right']"
                      class="fa-stack-1x fa-xs has-text-white"
                    />
                  </font-awesome-layers>
                </nuxt-link>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-background-white">
      <div class="container">
        <div class="columns is-full">
          <div class="column">
            <h1 class="is-size-5 has-text-weight-bold">
              About Us
            </h1>
          </div>
        </div>
        <div class="columns is-full">
          <div class="column is-6 pr40">
            <p class="is-size-5">350,000+ photos for your next project</p>
            <p class="is-size-2 has-text-weight-bold lh40">
              The Best Local Content In The Most Creative Manner
            </p>
            <p class="mt20">
              <nuxt-link class="button is-primary is-rounded" to="/">
                <span>See today’s new photos</span>
              </nuxt-link>
            </p>
          </div>
          <div class="column is-6">
            <p class="has-text-justified">
              Kreatifmarket.my is a Malaysian online marketplace by MYNIC Berhad
              (Co.No. 735031-H) that brings out the best digital local content
              in the most creative manner. It is a meeting place for
              photographers and designers to showcase their creative products
              and to equate those products with certain values; monetary,
              culturally, diversity.
            </p>
            <p class="mt20 has-text-justified">
              The higher the level of creativity, the more valuable the products
              are. People will be spoilt for choice on products ranging from
              digital design goods, stock photographs, templates, icons, themes,
              fonts and so much more, but they need to decide whether to sell or
              purchase those products.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-background-dark has-text-white">
      <div class="container">
        <div class="columns is-full">
          <div class="column">
            <p>
              Features & Benefits
            </p>
            <p class="is-size-3 has-text-weight-bold">
              This is why you have to choose kreatifmarket
            </p>
          </div>
          <div class="column">
            <p class="is-size-5 has-text-weight-bold">Rewards</p>
            <p class="h100">
              Get rewarded for every 10,000th image interval. Your creativity is
              your extra cash. Why not earn them by joining us now.
            </p>
            <p>
              <nuxt-link class="button is-outlined is-white is-rounded" to="/">
                <span>Sign Up</span>
              </nuxt-link>
            </p>
          </div>
          <div class="column">
            <p class="is-size-5 has-text-weight-bold">Local Content</p>
            <p class="h100">
              The place where we appreciate digital localize digital content.
              Showcase your work and grow your skills by joining our vast
              community.
            </p>
            <p>
              <nuxt-link class="button is-outlined is-white is-rounded" to="/">
                <span>Start sharing</span>
              </nuxt-link>
            </p>
          </div>
          <div class="column">
            <p class="is-size-5 has-text-weight-bold">Free Images</p>
            <p class="h100">
              Get access to our collection of FREE images
            </p>
            <p>
              <nuxt-link class="button is-outlined is-white is-rounded" to="/">
                <span>Browse our photos</span>
              </nuxt-link>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-background-white">
      <div class="container">
        <div class="columns is-full">
          <div
            class="column is-three-fifths is-offset-one-fifth has-text-centered"
          >
            <p class="is-size-5 has-text-grey">
              Photography likes to be shown together
            </p>
            <p class="is-size-3 has-text-weight-bold">
              Find that photo you didn’t even know you needed.
            </p>
            <p class="mt10">
              It helps to be able to organize content. See some of the
              industry’s curated collections of free photos (Nasa, Trello,
              Apple, InVision). Or start collecting your own!
            </p>
            <p class="mt20">
              <nuxt-link class="button is-primary is-rounded" to="/">
                <span>Browse collections</span>
              </nuxt-link>
            </p>
          </div>
        </div>
        <div class="h50"></div>
        <div class="columns is-full">
          <div class="column">
            <figure class="image is-213x213">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
          </div>
          <div class="column">
            <figure class="image is-213x213">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
          </div>
          <div class="column">
            <figure class="image is-213x213">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
          </div>
          <div class="column">
            <figure class="image is-213x213">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
          </div>
          <div class="column">
            <figure class="image is-213x213">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-medium is-primary section-with-bg">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <p class="is-size-3 has-text-weight-bold">
                Start earning today
              </p>
              <p>
                Contribute to Kreatifmarket and make money doing what you love.
              </p>
              <p class="mt20">
                <nuxt-link class="button is-primary is-rounded" to="/">
                  <span>Join Now</span>
                </nuxt-link>
              </p>
              <p class="mt10">
                Already have an account?
                <nuxt-link
                  class="is-text has-text-white has-text-weight-bold"
                  to="/"
                >
                  <span>Sign in</span>
                </nuxt-link>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.is-text-no-underline {
  text-decoration: none !important;
}
.section-with-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.37) 0%,
      rgba(0, 0, 0, 0.32) 100%
    ),
    url('https://via.placeholder.com/1440x374') no-repeat center;
}
.category-card {
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.41)),
    url('http://en.bcdn.biz/Images/2016/11/15/c221b904-85f1-4617-a50f-728e2a6bf180.jpg');
}
.lh40 {
  line-height: 40px;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.h100 {
  height: 100px;
}
.h50 {
  height: 50px;
}
</style>
