<template>
  <div>
    <section class="hero is-dark is-medium with-bg">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="../">
                <img src="/km.png" class="kreatifmarket" />
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end nav-spacer">
                <span class="navbar-item with-right-pipe">
                  <a class="button is-text is-text-no-underline">
                    <span>Discover</span>
                    <font-awesome-layers class="fa-stack">
                      <font-awesome-icon
                        :icon="['fas', 'circle']"
                        class="fa-stack-2x fa-xs"
                      />
                      <font-awesome-icon
                        :icon="['fas', 'chevron-down']"
                        class="fa-stack-1x fa-xs has-text-dark"
                      />
                    </font-awesome-layers>
                  </a>
                </span>
                <span class="navbar-item with-right-pipe">
                  <a class="button is-text is-text-no-underline">
                    <span>Plans & Pricings</span>
                    <font-awesome-layers class="fa-stack">
                      <font-awesome-icon
                        :icon="['fas', 'circle']"
                        class="fa-stack-2x has-text-warning fa-xs"
                      />
                      <font-awesome-icon
                        :icon="['fas', 'dollar-sign']"
                        class="fa-stack-1x fa-xs"
                      />
                    </font-awesome-layers>
                  </a>
                </span>
                <span class="navbar-item with-right-pipe">
                  <a class="button is-text is-text-no-underline">
                    <span>Submit a Photo</span>
                    <font-awesome-layers class="fa-stack">
                      <font-awesome-icon
                        :icon="['fas', 'circle']"
                        class="fa-stack-2x has-text-success fa-xs"
                      />
                      <font-awesome-icon
                        :icon="['fas', 'chevron-right']"
                        class="fa-stack-1x fa-xs"
                      />
                    </font-awesome-layers>
                  </a>
                </span>
                <span class="navbar-item">
                  <a class="button is-white is-outlined">
                    <span>Login</span>
                    <font-awesome-layers class="fa-stack">
                      <font-awesome-icon
                        :icon="['fas', 'circle']"
                        class="fa-stack-2x fa-xs"
                      />
                      <font-awesome-icon
                        :icon="['fas', 'chevron-right']"
                        class="fa-stack-1x fa-xs has-text-dark"
                      />
                    </font-awesome-layers>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns is-full">
            <div class="column">
              <h1 class="title">
                Support
              </h1>
              <h2 class="subtitle">
                Stories on creating and capturing the local flavor in one place,
                the kreatifmarket
              </h2>
              <!-- <p class="mt20">
                <nuxt-link class="button is-white is-rounded" to="/">
                  <span>Get Started</span>
                  <font-awesome-layers class="fa-stack">
                    <font-awesome-icon
                      :icon="['fas', 'circle']"
                      class="fa-stack-2x has-text-primary fa-xs"
                    />
                    <font-awesome-icon
                      :icon="['fas', 'chevron-right']"
                      class="fa-stack-1x fa-xs has-text-white"
                    />
                  </font-awesome-layers>
                </nuxt-link>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-background-white">
      <div class="container">
        <div class="columns is-full">
          <div class="column colline">
            <h1 class="is-size-5">
              Frequently Asked Questions
            </h1>
          </div>
        </div>
        <div class="columns is-full">
          <div class="column colline">
            <h1 class="is-size-6 has-text-weight-bold">
              Is there any charges to become a KREATIFMARKET Contributor?
            </h1>
            <h2>
              No, there is no charges to become a KREATIFMARKET Contributor. It
              is free of charge.
            </h2>
          </div>
        </div>
        <div class="columns is-full">
          <div class="column colline">
            <h1 class="is-size-6 has-text-weight-bold">
              Is there any charges to become a KREATIFMARKET Contributor?
            </h1>
            <h2>
              No, there is no charges to become a KREATIFMARKET Contributor. It
              is free of charge.
            </h2>
          </div>
        </div>
        <div class="columns is-full">
          <div class="column colline">
            <h1 class="is-size-6 has-text-weight-bold">
              Is there any charges to become a KREATIFMARKET Contributor?
            </h1>
            <h2>
              No, there is no charges to become a KREATIFMARKET Contributor. It
              is free of charge.
            </h2>
          </div>
        </div>
        <div class="columns is-full">
          <div class="column colline">
            <h1 class="is-size-6 has-text-weight-bold">
              Is there any charges to become a KREATIFMARKET Contributor?
            </h1>
            <h2>
              No, there is no charges to become a KREATIFMARKET Contributor. It
              is free of charge.
            </h2>
          </div>
        </div>
        <div class="columns is-full">
          <div class="column colline">
            <h1 class="is-size-6 has-text-weight-bold">
              Is there any charges to become a KREATIFMARKET Contributor?
            </h1>
            <h2>
              No, there is no charges to become a KREATIFMARKET Contributor. It
              is free of charge.
            </h2>
          </div>
        </div>
        <div class="columns is-full">
          <div class="column colline">
            <h1 class="is-size-6 has-text-weight-bold">
              Is there any charges to become a KREATIFMARKET Contributor?
            </h1>
            <h2>
              No, there is no charges to become a KREATIFMARKET Contributor. It
              is free of charge.
            </h2>
          </div>
        </div>
        <div class="columns is-full">
          <div class="column colline">
            <h1 class="is-size-6 has-text-weight-bold">
              Is there any charges to become a KREATIFMARKET Contributor?
            </h1>
            <h2>
              No, there is no charges to become a KREATIFMARKET Contributor. It
              is free of charge.
            </h2>
          </div>
        </div>
        <div class="columns is-full">
          <div class="column">
            <h1 class="mt20">
              Have you checked our <b class="has-text-primary">FAQs</b> section?
              Answers to your questions might have been available already.
            </h1>
            <p>If not, you are always welcome to send us a message.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.is-text-no-underline {
  text-decoration: none !important;
}
.section-with-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.37) 0%,
      rgba(0, 0, 0, 0.32) 100%
    ),
    url('https://via.placeholder.com/1440x374') no-repeat center;
}
.category-card {
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.41)),
    url('http://en.bcdn.biz/Images/2016/11/15/c221b904-85f1-4617-a50f-728e2a6bf180.jpg');
}
.lh40 {
  line-height: 40px;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.h100 {
  height: 100px;
}
.h50 {
  height: 50px;
}
.colline {
  border-bottom: 0.5px solid #828282;
}
</style>
