<template>
  <div>
    <section class="hero">
      <div class="hero-head">
        <app-nav :current-user="currentUser"></app-nav>
      </div>
    </section>
    <section class="section has-background-grey-light">
      <div class="columns" style="margin-top:18px;">
        <div class="column is-one-fifth">
          <div class="tab-collections-lbl">
            Collections
          </div>
        </div>
        <div class="column" style="background-color:white">
          <div class="tab-design-lbl">Designs</div>
        </div>
      </div>
      <div class="container">
        <div class="lbl-header-count">8 Collections</div>
        <div class="columns">
          <div class="column">
            <div class="create-new">
              <div class="create-new-lbl" v-on:click="prompt">
                Create New<br />Collection
              </div>
            </div>
          </div>
          <div class="column">
            <image-collections
              :image-url="portraitImages[0]"
              :image-lbl="portraitImagesLbl[0]"
            >
            </image-collections>
          </div>
          <div class="column">
            <image-collections
              :image-url="portraitImages[1]"
              :image-lbl="portraitImagesLbl[1]"
            >
            </image-collections>
          </div>
          <div class="column">
            <image-collections
              :image-url="portraitImages[2]"
              :image-lbl="portraitImagesLbl[2]"
            >
            </image-collections>
          </div>
          <div class="column">
            <image-collections
              :image-url="portraitImages[3]"
              :image-lbl="portraitImagesLbl[3]"
            >
            </image-collections>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="columns">
          <div class="column">
            <image-collections
              :image-url="portraitImages[4]"
              :image-lbl="portraitImagesLbl[4]"
            >
            </image-collections>
          </div>
          <div class="column">
            <image-collections
              :image-url="portraitImages[5]"
              :image-lbl="portraitImagesLbl[5]"
            >
            </image-collections>
          </div>
          <div class="column">
            <image-collections
              :image-url="portraitImages[6]"
              :image-lbl="portraitImagesLbl[6]"
            >
            </image-collections>
          </div>
          <div class="column">
            <image-collections
              :image-url="portraitImages[7]"
              :image-lbl="portraitImagesLbl[7]"
            >
            </image-collections>
          </div>
          <div class="column">
            <image-collections
              :image-url="portraitImages[0]"
              :image-lbl="portraitImagesLbl[0]"
            >
            </image-collections>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AppNav from '~/components/utils/topnav2.vue'
import ImageCollections from '~/components/main/image_collections.vue'

export default {
  middleware: ['check-auth', 'authenticated'],
  components: {
    AppNav,
    ImageCollections
  },
  data() {
    return {
      portraitImages: [
        require('assets/img/image1.png'),
        require('assets/img/image2.png'),
        require('assets/img/image3.png'),
        require('assets/img/image4.png'),
        require('assets/img/image5.png'),
        require('assets/img/image6.png'),
        require('assets/img/image7.png'),
        require('assets/img/image8.png')
      ],
      portraitImagesLbl: [
        'Technology (23)',
        'Cisco (2)',
        'Gadget (31)',
        'Production (6)',
        'Fashion Model (2)',
        'Office (2)',
        'Backpacking (12)',
        'Foodies (52)'
      ]
    }
  },
  computed: {
    ...mapGetters({
      currentUser: 'auth/currentUser'
    })
  },
  fetch({ store, params }) {
    return store.dispatch('auth/setCurrentUser')
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/auth')
    },
    prompt() {
      this.$dialog.prompt({
        message: `New Collection Name`,
        inputAttrs: {
          placeholder: 'e.g. Fashion Model',
          maxlength: 10
        },
        onConfirm: value => this.$toast.open(`Your name is: ${value}`)
      })
    }
  }
}
</script>

<style scoped>
.tab-collections-lbl {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #222222;
}
.tab-design-lbl {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: rgb(199, 199, 199);
}
.title3 {
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}
.is-active-account-menu {
  font-weight: 900;
}
.card-content.account {
  border-bottom: 1px solid #828282;
}
.create-new {
  position: relative;
  width: 213px;
  height: 213px;
  left: 0px;
  top: 10px;

  border: 0.5px solid #adadad;
  box-sizing: border-box;
  border-radius: 5px;
}
.create-new-lbl {
  position: absolute;
  width: 213px;
  height: 85.2px;
  left: 67px;
  top: 65px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #979797;

  border-radius: 5px;
}
.create-new-lbl:hover {
  color: #a8055d;
  cursor: pointer;
}
.lbl-header-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #333333;
}
</style>
