<template>
  <div class="columns">
    <div class="column">
      <div class="columns is-full">
        <div class="column">
          <div class="level">
            <div class="level-left">
              <b class="level-item is-size-5 has-text-weight-bold"
                >kreatifmarket's buzz</b
              >
            </div>
            <div class="level-right">
              <a class="has-text-dark level-item">
                <span>More news</span>
                <span class="icon btniconw">
                  <span class="fa-stack fa-xs">
                    <i
                      class="fas fa-circle fa-stack-2x fa-xs has-text-dark"
                    ></i>
                    <i
                      class="fas fa-chevron-right fa-stack-1x has-text-white fa-md"
                    ></i>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-full">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="/buzz3.png" alt="Placeholder image" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-6">
                Top Tips for Capturing Beautiful Travel Photographs That Sell
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="/buzz1.png" alt="Placeholder image" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-6">
                11 Awesome Typography Tutorials For All Skill Levels
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="/buzz2.png" alt="Placeholder image" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-6">
                The Importance of Visual Content for Marketing Personas in 2019
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.title {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
</style>
