<template>
  <div class="columns">
    <div class="column">
      <div class="columns is-full">
        <div class="column">
          <h1 class="is-size-5 has-text-weight-bold">
            Find amazing local content for your next project
          </h1>
        </div>
      </div>
      <div class="columns is-mobile is-multiline">
        <div class="column is-6-mobile">
          <p class="category-card is-primary">Photo</p>
        </div>
        <div class="column is-6-mobile">
          <p class="category-card is-primary">Illustration</p>
        </div>
        <div class="column is-6-mobile">
          <p class="category-card is-primary">Vector</p>
        </div>
        <div class="column is-6-mobile">
          <p class="category-card is-primary">Template</p>
        </div>
        <div class="column is-6-mobile">
          <p class="category-card is-primary">Video</p>
        </div>
        <div class="column is-6-mobile">
          <p class="category-card is-primary">Audio</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.category-card {
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.41)),
    url('http://en.bcdn.biz/Images/2016/11/15/c221b904-85f1-4617-a50f-728e2a6bf180.jpg');
}
</style>
