<template>
  <div class="imgcontent">
    <figure class="image">
      <div class="coverlay"></div>
      <img :src="imageUrl" />
      <div class="imgoverlaycontent fadeIn-top fadeIn-right">
        <div class="container h100">
          <div class="columns h100">
            <div class="column h100">
              <div class="hero h100">
                <div class="hero-head">
                  <h3>A straight way to heaven</h3>
                </div>
                <div class="hero-foot">
                  <div class="block">
                    <div class="iconborder">
                      <div class="centericoninbox">
                        <b-icon
                          type="is-white"
                          icon="heart"
                          pack="fas"
                          size="is-small"
                        >
                        </b-icon>
                      </div>
                    </div>
                    <div class="iconborder">
                      <div class="centericoninbox">
                        <b-icon
                          type="is-white"
                          icon="download"
                          pack="fas"
                          size="is-small"
                        >
                        </b-icon>
                      </div>
                    </div>
                    <div class="iconborder">
                      <div class="centericoninbox">
                        <b-icon
                          type="is-white"
                          icon="expand"
                          pack="fas"
                          size="is-small"
                        >
                        </b-icon>
                      </div>
                    </div>
                    <div class="iconborder">
                      <div class="centericoninbox">
                        <b-icon
                          type="is-white"
                          icon="share-alt"
                          pack="fas"
                          size="is-small"
                        >
                        </b-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</template>

<script>
export default {
  props: {
    imageUrl: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.h100 {
  height: 100%;
}
.iconborder {
  border: 0.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.block {
  display: flex;
}
.centericoninbox {
  padding: 5px;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
</style>
