<template>
  <div class="imgcontent" style="margin-top:10px;">
    <figure class="image">
      <div class="coverlay"></div>
      <img :src="imageUrl" />
      <div class="icontext4">{{ imageLbl }}</div>
      <div class="imgoverlaycontent fadeIn">
        <div class="container h100">
          <div class="columns h100">
            <div class="column h100">
              <div class="hero h100">
                <div class="icontext1">{{ imageLbl }}</div>
                <div class="icontext2">Created on 26 Dec 2018</div>
                <div class="">
                  <div class="block">
                    <div class="iconborder">
                      <div class="icontext3">Explore</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</template>

<script>
export default {
  props: {
    imageUrl: {
      type: String,
      required: true
    },
    imageLbl: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.h100 {
  height: 100%;
}
.iconborder {
  position: absolute;
  left: 6.5%;
  right: 6.5%;
  top: 80.03%;
  bottom: 4.97%;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}
.icontext1 {
  position: absolute;
  left: 6.5%;
  right: 13%;
  top: 5%;
  bottom: 77%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.icontext2 {
  position: absolute;
  left: 6.5%;
  right: 6.5%;
  top: 65%;
  bottom: 26.5%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 21px;

  color: #ffffff;
}
.icontext3 {
  position: absolute;
  left: 40%;
  right: 60%;
  top: 50%;
  bottom: 50%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.icontext4 {
  position: absolute;
  left: 6.5%;
  right: 13%;
  bottom: 10%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  line-height: 23px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.block {
  display: flex;
}
.centericoninbox {
  padding: 5px;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.imgcontent:hover .icontext4 {
  display: none;
}
.iconborder:hover .iconborder {
  position: absolute;
  left: 6.5%;
  right: 6.5%;
  top: 80.03%;
  bottom: 4.97%;

  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 5px;
}
</style>
