<template>
  <div class="columns">
    <div class="column">
      <div class="columns is-full">
        <div class="column">
          <div class="level">
            <div class="level-left">
              <b class="level-item">Trending</b>
              <a class="is-text is-text-no-underline level-item">
                <span>Top Download</span>
              </a>
              <a class="is-text is-text-no-underline level-item">
                <span>People</span>
              </a>
              <a class="is-text is-text-no-underline level-item">
                <span>Festival</span>
              </a>
              <a class="is-text is-text-no-underline level-item">
                <span>Business</span>
              </a>
            </div>
            <div class="level-right">
              <a class="has-text-dark level-item">
                <span>View more categories</span>
                <span class="icon btniconw">
                  <span class="fa-stack fa-xs">
                    <i
                      class="fas fa-circle fa-stack-2x fa-xs has-text-dark"
                    ></i>
                    <i
                      class="fas fa-chevron-right fa-stack-1x has-text-white fa-md"
                    ></i>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-full">
        <div class="column">
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-4">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="portraitImages[0]"
                    ></image-overlay>
                  </div>
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="portraitImages[1]"
                    ></image-overlay>
                  </div>
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="landscapeImages[2]"
                    ></image-overlay>
                  </div>
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="landscapeImages[1]"
                    ></image-overlay>
                  </div>
                </div>
              </div>
            </div>
            <div class="tile is-vertical is-4">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="landscapeImages[0]"
                    ></image-overlay>
                  </div>
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="portraitImages[2]"
                    ></image-overlay>
                  </div>
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="landscapeImages[3]"
                    ></image-overlay>
                  </div>
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="portraitImages[3]"
                    ></image-overlay>
                  </div>
                </div>
              </div>
            </div>
            <div class="tile is-vertical is-4">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="portraitImages[4]"
                    ></image-overlay>
                  </div>
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="landscapeImages[4]"
                    ></image-overlay>
                  </div>
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="portraitImages[5]"
                    ></image-overlay>
                  </div>
                  <div class="tile is-child">
                    <image-overlay
                      :image-url="landscapeImages[5]"
                    ></image-overlay>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ImageOverlay from '~/components/main/image_overlay.vue'

export default {
  components: {
    ImageOverlay
  },
  data() {
    return {
      portraitImages: [
        'https://i.pinimg.com/originals/93/0e/fc/930efc2742f12ac1fa74bc5f16ab1716.jpg',
        'https://cdn.shopify.com/s/files/1/1334/4597/products/Screen-Shot-2019-05-24-at-10.00.23-AM_180x@2x.jpg?v=1558706537',
        'https://live.staticflickr.com/2379/5812534945_0b6b2ca361_z.jpg',
        'http://foodfitnessfreshair.com/wp-content/uploads/2013/03/sweetp1.jpg',
        'https://static.wixstatic.com/media/905e8a_f20c7cc7f27d497887de92742f316c50~mv2_d_3412_4742_s_4_2.jpg/v1/fill/w_363,h_504,al_c,q_80,usm_0.66_1.00_0.01/snow%20crab%20claws_JPG.jpg',
        'https://dimg04.c-ctrip.com/images/10090a0000004r0rg1E93.jpg?proc=source%2Ftrip'
      ],
      landscapeImages: [
        'https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80',
        'https://static.wixstatic.com/media/e96166_f4727591790f498db6a21d8231d1bb69~mv2.jpg/v1/fill/w_363,h_242,al_c,q_80,usm_0.66_1.00_0.01/AfterDark-1.jpg',
        'https://i2.wp.com/hailshamactive.org/wp-content/uploads/2016/09/tennis-149.png?w=363&h=243&ssl=1',
        'https://d30f5tuavxefbm.cloudfront.net/pics/property/341850732/0/IDX_0/v0//crop/363,242',
        'https://siqik.com/wp-content/uploads/2017/08/underwater-spirals-default-1.jpeg',
        'https://www.gwtours.com.au/wp-content/uploads/2016/10/lavender-fields-provence-france-1456263408gkn48-363x242.jpg'
      ]
    }
  }
}
</script>

<style scoped>
.h100 {
  height: 100%;
}
.iconborder {
  border: 0.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.block {
  display: flex;
}
.centericoninbox {
  padding: 5px;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
</style>
