<template>
  <div class="card-content account">
    <b-loading
      :is-full-page="true"
      :active.sync="isLoading"
      :can-cancel="true"
    ></b-loading>
    <div class="content">
      <div class="columns">
        <div class="column">
          <div class="level is-mobile">
            <div class="level-left">
              <span class="level-item has-text-grey is-size-5">
                Personal Information
              </span>
            </div>
            <div class="level-right">
              <a
                v-if="!isEditing"
                class="level-item has-text-primary"
                @click="edit()"
              >
                Edit
              </a>
            </div>
          </div>
        </div>
      </div>
      <form>
        <fieldset :disabled="!isEditing">
          <div class="columns is-full">
            <div class="column">
              <b-field label="Name">
                <b-input v-model="name"></b-input>
              </b-field>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input v-model="email" class="input" type="text" />
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-full">
            <div class="column">
              <div class="field">
                <label class="label">IC</label>
                <div class="control">
                  <input v-model="icNo" type="number" class="input" />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Contact No.</label>
                <div class="control">
                  <input v-model="phoneNo" class="input" type="number" />
                </div>
              </div>
            </div>
          </div>
          <div v-if="isEditing" class="block is-pulled-right">
            <a class="button is-rounded" @click="cancelEdit()">
              Cancel
            </a>
            <a class="button is-primary is-rounded" @click="update()">
              Save
            </a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</template>

<script>
import { Dialog } from 'buefy/dist/components/dialog'

export default {
  props: {
    currentUser: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isLoading: false,
      isEditing: false,
      email: this.currentUser.email,
      name: this.currentUser.first_name,
      icNo: this.currentUser.ic_no,
      phoneNo: this.currentUser.phone_no
    }
  },
  methods: {
    edit() {
      this.isEditing = true
    },
    cancelEdit() {
      this.isEditing = false
      this.email = this.currentUser.email
      this.name = this.currentUser.first_name
      this.icNo = this.currentUser.ic_no
      this.phoneNo = this.currentUser.phone_no
    },
    update() {
      this.isLoading = true
      this.$store
        .dispatch('auth/update', {
          id: this.currentUser.id,
          email: this.email,
          //   name: this.name,
          ic_no: this.icNo,
          phone_no: this.phoneNo
        })
        .then(res => {
          this.isLoading = false
          if (res.error) {
            Dialog.alert('Something is wrong. Please try again.')
            // res.messages
          } else {
            this.isEditing = false
            Dialog.alert('Profile successfully updated!')
          }
        })
    }
  }
}
</script>
