<template>
  <div>
    <section class="hero is-primary is-fullheight with-bg">
      <b-loading
        :is-full-page="true"
        :active.sync="isLoading"
        :can-cancel="true"
      ></b-loading>
      <div class="hero-head">
        <app-nav></app-nav>
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns is-full is-vcentered">
            <div class="column is-half is-offset-one-quarter">
              <h1 class="title">Forgot your password?</h1>
              <form>
                <b-field>
                  <b-input
                    v-model="email"
                    placeholder="Email"
                    size="is-large"
                  ></b-input>
                </b-field>

                <div class="h20px"></div>

                <div class="level">
                  <div class="level-left">
                    <h1>
                      Talk to
                      <nuxt-link
                        class="is-text has-text-white has-text-weight-bold"
                        to="password"
                      >
                        <span>Support</span>
                      </nuxt-link>
                    </h1>
                  </div>
                  <div class="level-right">
                    <a
                      class="button is-primary is-rounded is-fullwidth"
                      @click="requestResetPass()"
                      >Reset</a
                    >
                  </div>
                </div>

                <div class="h20px"></div>

                <hr />

                <div class="has-text-centered">
                  <h1>
                    Don’t have an account yet?
                    <nuxt-link
                      class="is-text has-text-white has-text-weight-bold"
                      to="register"
                    >
                      <span>Sign Up</span>
                    </nuxt-link>
                    today!
                  </h1>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Dialog } from 'buefy/dist/components/dialog'
import AppNav from '~/components/utils/topnav1.vue'

export default {
  components: {
    AppNav
  },
  data() {
    return {
      isLoading: false,
      email: null,
      password: null
    }
  },
  methods: {
    requestResetPass() {
      this.isLoading = true
      this.$store
        .dispatch('auth/requestResetPass', {
          email: this.email
        })
        .then(res => {
          this.isLoading = false
          if (res.error) {
            Dialog.alert('Invalid credentials.')
          } else {
            Dialog.alert(
              'An email has been sent to your email containing instructions for resetting your password.'
            )
          }
        })
    }
  }
}
</script>

<style scoped>
.with-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/bgdummy2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.title {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 4rem;
}
</style>
