<template>
  <div>
    <section class="hero is-primary is-fullheight with-bg">
      <b-loading
        :is-full-page="true"
        :active.sync="isLoading"
        :can-cancel="true"
      ></b-loading>
      <div class="hero-head">
        <app-nav></app-nav>
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns is-full is-vcentered">
            <div class="column is-5 is-offset-7">
              <h1 class="title">Sign in to start downloading!</h1>
              <form>
                <b-field>
                  <b-input
                    v-model="email"
                    placeholder="Email"
                    size="is-large"
                  ></b-input>
                </b-field>

                <b-field>
                  <b-input
                    v-model="password"
                    type="password"
                    placeholder="Password"
                    size="is-large"
                    password-reveal
                  >
                  </b-input>
                </b-field>

                <div class="h20px"></div>

                <div class="level">
                  <div class="level-left">
                    <nuxt-link class="level-item has-text-white" to="password">
                      <span>Forgot password/email?</span>
                    </nuxt-link>
                  </div>
                  <div class="level-right">
                    <a
                      class="button is-primary is-rounded is-fullwidth"
                      @click="login()"
                      >Sign In</a
                    >
                  </div>
                </div>

                <h2 class="inbetweentext">
                  <span>or</span>
                </h2>

                <div class="block">
                  <div class="prelative">
                    <a
                      class="button is-large is-fullwidth is-rounded"
                      @click="fbLogin"
                    >
                      Connect with Facebook
                    </a>
                    <a class="button is-large roundiconbtnfloatleftlg bg-fb">
                      <b-icon type="is-white" icon="facebook-f" pack="fab">
                      </b-icon>
                    </a>
                  </div>

                  <div class="mb075rem"></div>

                  <div class="prelative">
                    <a
                      class="button is-large is-fullwidth is-rounded"
                      @click="googleLogin()"
                    >
                      Connect with Google
                    </a>
                    <a
                      class="button is-large roundiconbtnfloatleftlg bg-google"
                    >
                      <b-icon type="is-white" icon="google-plus-g" pack="fab">
                      </b-icon>
                    </a>
                  </div>
                </div>

                <hr />

                <div class="has-text-centered">
                  <h1>
                    Don’t have an account yet?
                    <nuxt-link
                      class="is-text has-text-white has-text-weight-bold"
                      to="register"
                    >
                      <span>Sign Up</span>
                    </nuxt-link>
                    today!
                  </h1>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Dialog } from 'buefy/dist/components/dialog'
import AppNav from '~/components/utils/topnav1.vue'

export default {
  components: {
    AppNav
  },
  data() {
    return {
      isLoading: false,
      email: null,
      password: null
    }
  },
  methods: {
    fbLogin() {
      this.$auth.loginWith('facebook')
    },
    googleLogin() {
      this.$auth.loginWith('google')
    },
    login() {
      this.isLoading = true
      this.$store
        .dispatch('auth/login', {
          email: this.email,
          password: this.password
        })
        .then(res => {
          this.isLoading = false
          if (res.error) {
            Dialog.alert('Invalid login credentials.')
          } else {
            debugger // eslint-disable-line
            if (res.params.email === 'contributor@gmail.com') {
              this.$router.push('/account/contributors')
            } else if (res.params.email === 'evaluator@gmail.com') {
              this.$router.push('/account')
            } else if (res.params.email === 'admin@gmail.com') {
              this.$router.push('/account/administrators')
            } else {
              this.$router.push('/account')
            }
          }
        })
    }
  }
}
</script>

<style scoped>
.with-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/bgdummy2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.title {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 4rem;
}
</style>
