<template>
  <div>
    <section class="hero is-primary is-fullheight with-bg">
      <b-loading
        :is-full-page="true"
        :active.sync="isLoading"
        :can-cancel="true"
      ></b-loading>
      <div class="hero-head">
        <app-nav></app-nav>
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns is-full is-vcentered">
            <div class="column is-5 is-offset-7">
              <h1 class="title">Don’t have an account yet? Register now!</h1>
              <form>
                <b-field>
                  <b-input
                    v-model="name"
                    placeholder="*Name"
                    size="is-large"
                  ></b-input>
                </b-field>

                <b-field>
                  <b-input
                    v-model="email"
                    placeholder="*Email"
                    size="is-large"
                  ></b-input>
                </b-field>

                <b-field>
                  <b-input
                    v-model="password"
                    type="password"
                    placeholder="*Password"
                    size="is-large"
                    password-reveal
                  >
                  </b-input>
                </b-field>

                <div class="field">
                  <b-checkbox v-model="is18YearsOld">
                    I am above 18 years old
                  </b-checkbox>
                </div>

                <div class="h20px"></div>

                <div class="level">
                  <div class="level-left">
                    <span class="level-item has-text-white">
                      *Required Fields
                    </span>
                  </div>
                  <div class="level-right">
                    <a
                      class="button is-success is-rounded is-fullwidth"
                      :disabled="!is18YearsOld"
                      @click="register()"
                    >
                      Create
                    </a>
                  </div>
                </div>

                <h2 class="inbetweentext">
                  <span>or</span>
                </h2>

                <div class="block">
                  <div class="prelative">
                    <a class="button is-large is-fullwidth is-rounded">
                      Connect with Facebook
                    </a>
                    <a class="button is-large roundiconbtnfloatleftlg bg-fb">
                      <b-icon type="is-white" icon="facebook-f" pack="fab">
                      </b-icon>
                    </a>
                  </div>

                  <div class="mb075rem"></div>

                  <div class="prelative">
                    <a class="button is-large is-fullwidth is-rounded">
                      Connect with Google
                    </a>
                    <a
                      class="button is-large roundiconbtnfloatleftlg bg-google"
                    >
                      <b-icon type="is-white" icon="google-plus-g" pack="fab">
                      </b-icon>
                    </a>
                  </div>
                </div>

                <hr />

                <div class="has-text-centered">
                  <h1>
                    Already have an account?
                    <nuxt-link
                      class="is-text has-text-white has-text-weight-bold"
                      to="login"
                    >
                      <span>Sign in</span>
                    </nuxt-link>
                    today!
                  </h1>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Dialog } from 'buefy/dist/components/dialog'
import AppNav from '~/components/utils/topnav1.vue'

export default {
  components: {
    AppNav
  },
  data() {
    return {
      isLoading: false,
      is18YearsOld: false,
      email: null,
      name: null,
      password: null
    }
  },
  methods: {
    register() {
      this.isLoading = true
      this.$store
        .dispatch('auth/register', {
          email: this.email,
          name: this.name,
          password: this.password,
          confirm_password: this.password
        })
        .then(res => {
          this.isLoading = false
          if (res.error) {
            Dialog.alert(res.messages)
          } else {
            this.$router.push('/account')
          }
        })
    }
  }
}
</script>

<style scoped>
.with-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/bgdummy2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.title {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 4rem;
}
</style>
