.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  /* transform: scale(0); */
}
.btniconw {
  width: auto !important;
}
.imgcontent {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.imgcontent .coverlay {
  background: rgba(0, 0, 0, 0.7) !important;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.imgcontent:hover .coverlay {
  opacity: 1;
}
.imgoverlaycontent {
  position: absolute;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.imgcontent:hover .imgoverlaycontent {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.imgoverlaycontent h3 {
  color: #fff;
  margin-bottom: 0.5em;
  font-size: 14px;
}
.imgoverlaycontent p {
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-top {
  top: 20%;
}
.fadeIn-right {
  left: 80%;
}
.is-text-no-underline {
  text-decoration: none !important;
}
.mb075rem {
  height: 0.75rem;
}
.h20px {
  height: 20px;
}
hr {
  height: 1px !important;
}
.roundiconbtnfloatleft {
  position: absolute;
  border: none;
  height: 31px;
  width: 31px;
  line-height: 31px;
  border-radius: 50%;
  top: 3px;
  opacity: 0.85;
  color: #ffffff;
  left: 4px;
  transition: all 0.2s;
}
.roundiconbtnfloatleftlg {
  position: absolute;
  border: none;
  height: 38px;
  width: 38px;
  line-height: 38px;
  border-radius: 50%;
  top: 3px;
  opacity: 0.85;
  color: #ffffff;
  left: 4px;
  transition: all 0.2s;
}
.prelative {
  position: relative;
}
.bg-fb {
  background: #3b5998;
}
.bg-google {
  background: #db3236;
}
h2.inbetweentext {
  margin-top: 30px;
  text-align: center;
}
.mt3rem {
  margin-top: 3rem;
}