@import "~bulma/sass/utilities/initial-variables.sass";
$primary: #a8055d;
$warning: #ffc700;
$success: #87b700;
$danger: #dc4e41;
$dark: #000000;
$grey: #828282;
$grey-light: #f2f2f2;
$fullhd-enabled: false;

@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/derived-variables.sass";
@import "~bulma/sass/utilities/mixins.sass";
@import "~bulma/sass/utilities/controls.sass";

@import "~bulma/sass/elements/button.sass";
$button-text-color: #ffffff;
$button-text-hover-background-color: transparent;
$button-text-hover-color: #ffffff;

@import "~bulma/sass/components/navbar.sass";
$navbar-height: 4rem;
$navbar-item-img-max-height: 3rem;

// BULMA EXT
@import "~bulma";
@import "~buefy/src/scss/buefy";

h2.inbetweentext {
  position: relative;
  overflow: hidden;

  span {
    font-size: 12px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px 20px;

    &:before,
    &:after {
      content: "";
      display: block;
      width: 1000px;
      position: absolute;
      top: 0.73em;
      border-top: 1px solid whitesmoke;
    }

    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}
