<template>
  <div>
    <footer class="footer has-background-white">
      <div class="container">
        <div class="columns if-full">
          <div class="column">
            <img src="/kminverted.png" class="kreatifmarketimg" />
          </div>
          <div class="column">
            <div class="field">
              <label class="has-text-grey">kreatifmarket</label>
              <div class="control">
                <ul class="ul-foot">
                  <li>
                    <nuxt-link
                      class="is-text is-text-no-underline has-text-dark"
                      to="pricing"
                    >
                      <span>Plans & Pricings</span>
                    </nuxt-link>
                  </li>
                  <li>
                    <a class="is-text is-text-no-underline has-text-dark">
                      <span>Become a Contributor</span>
                    </a>
                  </li>
                  <li>
                    <a class="is-text is-text-no-underline has-text-dark">
                      <span>Categories</span>
                    </a>
                  </li>
                  <li>
                    <a class="is-text is-text-no-underline has-text-dark">
                      <span>Press Releases</span>
                    </a>
                  </li>
                  <li>
                    <a class="is-text is-text-no-underline has-text-dark">
                      <span>Articles & Blogs</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="has-text-grey">Legals</label>
              <div class="control">
                <ul class="ul-foot">
                  <li>
                    <a class="is-text is-text-no-underline has-text-dark">
                      <span>Website Terms of Use</span>
                    </a>
                  </li>
                  <li>
                    <a class="is-text is-text-no-underline has-text-dark">
                      <span>License Agreement</span>
                    </a>
                  </li>
                  <li>
                    <a class="is-text is-text-no-underline has-text-dark">
                      <span>Privacy Policy</span>
                    </a>
                  </li>
                  <li>
                    <a class="is-text is-text-no-underline has-text-dark">
                      <span>Release Forms</span>
                    </a>
                  </li>
                  <li>
                    <a class="is-text is-text-no-underline has-text-dark">
                      <span>Refund Policy</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="has-text-grey">Support</label>
              <div class="control">
                <ul class="ul-foot">
                  <li>
                    <nuxt-link
                      class="is-text is-text-no-underline has-text-dark"
                      to="contact"
                    >
                      <span>Contact Us</span>
                    </nuxt-link>
                  </li>
                  <li>
                    <nuxt-link
                      class="is-text is-text-no-underline has-text-dark"
                      to="faqs"
                    >
                      <span>FAQs</span>
                    </nuxt-link>
                  </li>
                </ul>
              </div>
            </div>
            <div class="field">
              <label class="has-text-grey">Corporate</label>
              <div class="control">
                <ul class="ul-foot">
                  <li>
                    <nuxt-link
                      class="is-text is-text-no-underline has-text-dark"
                      to="about"
                    >
                      <span>About Us</span>
                    </nuxt-link>
                  </li>
                  <li>
                    <a
                      class="is-text is-text-no-underline has-text-dark"
                      href="https://www.mynic.my"
                    >
                      <span>MyNIC</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="has-text-grey">Hotline</label>
              <div class="control">
                <b class="is-size-4 has-text-weight-bold has-text-dark"
                  >1300-88-7277</b
                >
              </div>
            </div>
            <div class="field">
              <label class="has-text-grey">Email</label>
              <div class="control">
                <b class="is-size-4 has-text-weight-bold has-text-dark"
                  >info@kreatifmarket.my</b
                >
              </div>
            </div>
            <div class="field">
              <label class="has-text-grey">Follow on Us</label>
              <div class="control"></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<style scoped>
.ul-foot li {
  margin: 10px 0 10px 0;
}
img.kreatifmarketimg {
  width: 85%;
}
</style>
