<template>
  <nav id="fixedNav" class="navbar has-background-dark is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <img src="/km.png" class="kreatifmarket" />
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start f1">
          <span class="navbar-item f1">
            <div class="field f1">
              <p class="control">
                <input
                  class="input is-rounded"
                  type="text"
                  placeholder="Search"
                />
              </p>
            </div>
          </span>
        </div>
        <div class="navbar-end nav-spacer">
          <span class="navbar-item">
            <a class="button is-text is-text-no-underline">
              <span>Discover</span>
              <span class="icon btniconw">
                <span class="fa-stack fa-xs">
                  <i class="fas fa-circle fa-stack-2x fa-xs"></i>
                  <i
                    class="fas fa-chevron-down fa-stack-1x has-text-dark fa-md"
                  ></i>
                </span>
              </span>
            </a>
          </span>
          <span class="navbar-item">
            <a class="button is-text is-text-no-underline">
              <span>Plans & Pricings</span>
              <span class="icon btniconw">
                <span class="fa-stack fa-xs">
                  <i
                    class="fas fa-circle fa-stack-2x fa-xs has-text-warning"
                  ></i>
                  <i class="fas fa-dollar-sign fa-stack-1x fa-md"></i>
                </span>
              </span>
            </a>
          </span>
          <span class="navbar-item">
            <a class="button is-text is-text-no-underline">
              <span>Submit a Photo</span>
              <span class="icon btniconw">
                <span class="fa-stack fa-xs">
                  <i class="fas fa-circle fa-stack-2x fa-xs"></i>
                  <i
                    class="fas fa-chevron-right fa-stack-1x has-text-dark fa-md"
                  ></i>
                </span>
              </span>
            </a>
          </span>
          <span class="navbar-item">
            <b-dropdown hoverable aria-role="list">
              <button slot="trigger" class="button is-white is-outlined">
                <span>{{ currentUser['email'] }}</span>
                <b-icon icon="chevron-down" pack="fas" size="is-small">
                </b-icon>
              </button>

              <b-dropdown-item aria-role="listitem" @click="logout()">
                Logout
              </b-dropdown-item>
            </b-dropdown>
          </span>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  props: {
    currentUser: {
      type: Object,
      required: true
    }
  },
  data() {
    return {}
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>
.is-text-no-underline {
  text-decoration: none !important;
}
.f1 {
  flex-grow: 1;
}
</style>
