<template>
  <nav
    id="fixedNav"
    :class="{ navscrolled: isScrolled, navnormal: !isScrolled }"
    class="navbar is-fixed-top"
  >
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <img src="/km.png" class="kreatifmarket" />
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end nav-spacer">
          <span class="navbar-item">
            <a class="button is-text is-text-no-underline">
              <span>Discover</span>
              <span class="icon btniconw">
                <span class="fa-stack fa-xs">
                  <i class="fas fa-circle fa-stack-2x fa-xs"></i>
                  <i
                    class="fas fa-chevron-down fa-stack-1x has-text-dark fa-md"
                  ></i>
                </span>
              </span>
            </a>
          </span>
          <span class="navbar-item">
            <a class="button is-text is-text-no-underline">
              <span>Plans & Pricings</span>
              <span class="icon btniconw">
                <span class="fa-stack fa-xs">
                  <i
                    class="fas fa-circle fa-stack-2x fa-xs has-text-warning"
                  ></i>
                  <i class="fas fa-dollar-sign fa-stack-1x fa-md"></i>
                </span>
              </span>
            </a>
          </span>
          <span class="navbar-item">
            <a class="button is-text is-text-no-underline">
              <span>Submit a Photo</span>
              <span class="icon btniconw">
                <span class="fa-stack fa-xs">
                  <i class="fas fa-circle fa-stack-2x fa-xs"></i>
                  <i
                    class="fas fa-chevron-right fa-stack-1x has-text-dark fa-md"
                  ></i>
                </span>
              </span>
            </a>
          </span>
          <span class="navbar-item">
            <nuxt-link class="button is-white is-outlined" to="login">
              <span>Login</span>
              <b-icon icon="chevron-right" pack="fas" size="is-small"> </b-icon>
            </nuxt-link>
          </span>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      isScrolled: false
    }
  },
  created() {
    if (process.client) {
      // eslint-disable-next-line nuxt/no-globals-in-created
      window.addEventListener('scroll', this.handleScroll)
    }
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll(event) {
      if (window.scrollY > 50) {
        this.isScrolled = true
      } else {
        this.isScrolled = false
      }
    }
  }
}
</script>

<style scoped>
.is-text-no-underline {
  text-decoration: none !important;
}
.navscrolled {
  background-color: #000000;
  transition: all 0.5s;
}
.navnormal {
  transition: all 0.5s;
}
</style>
