<template>
  <div>
    <section class="hero is-primary is-fullheight with-bg">
      <div class="hero-head">
        <app-nav></app-nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-full">
            <div class="column is-8 is-offset-2">
              <h1 class="title">
                Discover over 1,000 royalty-free images
              </h1>
              <h2 class="subtitle">
                Creative & digital content with a local flavor.
              </h2>
              <div class="field has-addons">
                <p class="control is-expanded">
                  <input
                    class="input is-large is-rounded"
                    type="text"
                    placeholder="Search high resolution photos"
                  />
                </p>
                <p class="control">
                  <span class="select is-large">
                    <select>
                      <option>All</option>
                      <option>Technology</option>
                      <option>Gadget</option>
                      <option>Abstract</option>
                      <option>Animals</option>
                      <option>Architecture</option>
                      <option>Art & Entertainment</option>
                      <option>Beauty & Fashion</option>
                      <option>Business</option>
                      <option>Education</option>
                      <option>Food & Drink</option>
                      <option>Health</option>
                      <option>Holidays</option>
                      <option>Industrial</option>
                    </select>
                  </span>
                </p>
                <p class="control">
                  <a class="button is-large is-primary is-rounded">
                    <b-icon icon="search" pack="fas" size="is-small"> </b-icon>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot hero-foot-custom">
        <div class="container has-text-centered vam">
          <span class="has-text-weight-medium is-size-5">
            Stunning content, from as low as RM1.20
          </span>
          <a class="button is-text is-text-no-underline hero-foot-btn">
            <span class="has-text-weight-bold is-size-5">Find your plan</span>
            <span class="icon btniconw is-medium">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x has-text-primary"></i>
                <i class="fas fa-chevron-right fa-stack-1x"></i>
              </span>
            </span>
          </a>
        </div>
      </div>
    </section>
    <section class="section has-background-grey-light">
      <div class="container">
        <category-section></category-section>
        <media-section></media-section>
        <buzz-section></buzz-section>
      </div>
    </section>
  </div>
</template>

<script>
import AppNav from '~/components/utils/topnav1.vue'
import MediaSection from '~/components/main/media_section.vue'
import BuzzSection from '~/components/main/buzz_section.vue'
import CategorySection from '~/components/main/category_section.vue'

export default {
  components: {
    AppNav,
    BuzzSection,
    CategorySection,
    MediaSection
  }
}
</script>

<style scoped>
.is-text-no-underline {
  text-decoration: none !important;
}
.vam {
  vertical-align: middle;
}
.with-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/bgdummy.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.title {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
.hero-foot-custom {
  min-height: 50px;
  line-height: 50px;
  background-color: #222222;
}
.hero-foot-btn {
  vertical-align: baseline;
}
</style>
