<template>
  <div class="account">
    <b-loading
      :is-full-page="true"
      :active.sync="isLoading"
      :can-cancel="true"
    ></b-loading>
    <div class="content card-content">
      <div class="columns">
        <div class="column">
          <div class="level is-mobile">
            <div class="level-left">
              <span class="level-item has-text-grey is-size-5">
                Personal Information
              </span>
            </div>
            <div class="level-right">
              <a
                v-if="!isEditingAbout"
                class="level-item has-text-primary"
                @click="editAbout()"
              >
                Edit
              </a>
            </div>
          </div>
        </div>
      </div>
      <form>
        <fieldset :disabled="!isEditingAbout">
          <div class="columns">
            <div class="column">
              <b-field label="First Name">
                <b-input v-model="firstName"></b-input>
              </b-field>
              <b-field label="Last Name">
                <b-input v-model="lastName"></b-input>
              </b-field>
              <b-field label="Email">
                <b-input v-model="email"></b-input>
              </b-field>
            </div>
            <div class="column">
              <div class="box" style="height:110px">
                <div class="columns">
                  <div class="column">
                    <p class="title is-7">Profile Photo</p>
                  </div>
                  <div class="column">
                    <p class="title is-7">Format: .jpg file</p>
                    <p class="title is-7">Size: Max 1Mb Min80x80px</p>
                    <p class="title is-7">Dimensions: Square only</p>
                    <div v-if="isEditingAbout" class="block is-pulled-right">
                      <a class="button is-primary is-rounded">
                        Upload Photo
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <b-field label="Phone No">
                <b-input v-model="phoneNo"></b-input>
              </b-field>
            </div>
          </div>
          <div v-if="isEditingAbout" class="block is-pulled-right">
            <a class="button is-rounded" @click="cancelEditAbout()">
              Cancel
            </a>
            <a class="button is-primary is-rounded" @click="updateAbout()">
              Save
            </a>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="content card-content" style="border-top: 1px solid #828282;">
      <div class="columns">
        <div class="column">
          <div class="level is-mobile">
            <div class="level-left">
              <span class="level-item has-text-grey is-size-5">
                Account
              </span>
            </div>
            <div class="level-right">
              <a
                v-if="!isEditingBank"
                class="level-item has-text-primary"
                @click="editBank()"
              >
                Edit
              </a>
            </div>
          </div>
        </div>
      </div>
      <form>
        <fieldset :disabled="!isEditingBank">
          <div class="columns">
            <div class="column">
              <b-field label="Roles">
                <b-input v-model="bankName"></b-input>
              </b-field>
            </div>
            <div class="column">
              <b-field label="Password">
                <b-input v-model="bankAccNo"></b-input>
              </b-field>
            </div>
          </div>
          <div v-if="isEditingBank" class="block is-pulled-right">
            <a class="button is-rounded" @click="cancelEditBank()">
              Cancel
            </a>
            <a class="button is-primary is-rounded" @click="updateBank()">
              Save
            </a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</template>

<script>
import { Dialog } from 'buefy/dist/components/dialog'

export default {
  props: {
    currentUser: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isLoading: false,
      isEditingAbout: false,
      isEditingAddress: false,
      isEditingURL: false,
      isEditingAdditional: false,
      isEditingBank: false,
      email: this.currentUser.email,
      name: this.currentUser.first_name,
      icNo: this.currentUser.ic_no,
      phoneNo: this.currentUser.phone_no,
      interest: this.currentUser.interest,
      about: this.currentUser.about,
      kmURL: this.currentUser.km_url,
      primaryFirstName: this.currentUser.primary_first_name,
      primaryLastName: this.currentUser.primary_last_name,
      primaryAddress1: this.currentUser.primary_address_1,
      primaryAddress2: this.currentUser.primary_address_2,
      primaryAddress3: this.currentUser.primary_address_3,
      company: this.currentUser.company,
      primaryCountry: this.currentUser.primary_country,
      primaryState: this.currentUser.primary_state,
      primaryCity: this.currentUser.primary_city,
      primaryPostcode: this.currentUser.primary_postcode,
      bankName: 'Administrator',
      bankAccName: this.currentUser.bank_acc_name,
      bankAccNo: '***********',
      website: this.currentUser.website,
      instagram: this.currentUser.instagram,
      google: this.currentUser.google,
      twitter: this.currentUser.twitter,
      facebook: this.currentUser.facebook,
      linkedin: this.currentUser.linkedin
    }
  },
  methods: {
    editAbout() {
      this.isEditingAbout = true
    },
    editAddress() {
      this.isEditingAddress = true
    },
    editURL() {
      this.isEditingURL = true
    },
    editAdditional() {
      this.isEditingAdditional = true
    },
    editBank() {
      this.isEditingBank = true
    },
    cancelEditAbout() {
      this.isEditingAbout = false
      this.email = this.currentUser.email
      this.name = this.currentUser.first_name
      this.icNo = this.currentUser.ic_no
      this.phoneNo = this.currentUser.phone_no
    },
    cancelEditAddress() {
      this.isEditingAddress = false
      this.primaryFirstName = this.currentUser.primary_first_name
      this.primaryLastName = this.currentUser.primary_last_name
      this.primaryAddress1 = this.currentUser.primary_address_1
      this.primaryAddress2 = this.currentUser.primary_address_2
      this.primaryAddress3 = this.currentUser.primary_address_3
      this.company = this.currentUser.company
      this.primaryCountry = this.currentUser.primary_country
      this.primaryState = this.currentUser.primary_state
      this.primaryCity = this.currentUser.primary_city
      this.primaryPostcode = this.currentUser.primary_postcode
    },
    cancelEditURL() {
      this.isEditingURL = false
      this.kmURL = this.currentUser.km_url
    },
    cancelEditAdditional() {
      this.isEditingAdditional = false
      this.website = this.currentUser.website
      this.instagram = this.currentUser.instagram
      this.google = this.currentUser.google
      this.twitter = this.currentUser.twitter
      this.facebook = this.currentUser.facebook
      this.linkedin = this.currentUser.linkedin
    },
    cancelEditBank() {
      this.isEditingBank = false
      this.bankName = this.currentUser.bank_name
      this.bankAccName = this.currentUser.bank_acc_name
      this.bankAccNo = this.currentUser.bank_acc_no
    },
    updateAbout() {
      this.isLoading = true
      this.$store
        .dispatch('auth/update', {
          id: this.currentUser.id,
          email: this.email,
          //   name: this.name,
          ic_no: this.icNo,
          phone_no: this.phoneNo
        })
        .then(res => {
          this.isLoading = false
          if (res.error) {
            Dialog.alert('Something is wrong. Please try again.')
            // res.messages
          } else {
            this.isEditingAbout = false
            Dialog.alert('Profile successfully updated!')
          }
        })
    },
    updateAddress() {
      this.isLoading = true
      this.$store
        .dispatch('auth/update', {
          id: this.currentUser.id,
          primary_first_name: this.primaryFirstName,
          primary_last_name: this.primaryLastName,
          primary_address_1: this.primaryAddress1,
          primary_address_2: this.primaryAddress2,
          primary_address_3: this.primaryAddress3,
          company: this.currentUser.company,
          primary_country: this.primaryCountry,
          primary_state: this.primaryState,
          primary_city: this.primaryCity,
          primary_postcode: this.primaryPostcode
        })
        .then(res => {
          this.isLoading = false
          if (res.error) {
            Dialog.alert('Something is wrong. Please try again.')
            // res.messages
          } else {
            this.isEditingAddress = false
            Dialog.alert('Profile successfully updated!')
          }
        })
    },
    updateURL() {
      this.isLoading = true
      this.$store
        .dispatch('auth/update', {
          id: this.currentUser.id,
          km_url: this.kmURL
        })
        .then(res => {
          this.isLoading = false
          if (res.error) {
            Dialog.alert('Something is wrong. Please try again.')
            // res.messages
          } else {
            this.isEditingURL = false
            Dialog.alert('Profile successfully updated!')
          }
        })
    },
    updateAdditional() {
      this.isLoading = true
      this.$store
        .dispatch('auth/update', {
          id: this.currentUser.id,
          website: this.website,
          instagram: this.instagram,
          google: this.google,
          twitter: this.twitter,
          facebook: this.facebook,
          linkedin: this.linkedin
        })
        .then(res => {
          this.isLoading = false
          if (res.error) {
            Dialog.alert('Something is wrong. Please try again.')
            // res.messages
          } else {
            this.isEditingAdditional = false
            Dialog.alert('Profile successfully updated!')
          }
        })
    },
    updateBank() {
      this.isLoading = true
      debugger // eslint-disable-line
      this.$store
        .dispatch('auth/update', {
          id: this.currentUser.id,
          bank_name: this.bankName,
          bank_acc_name: this.bankAccName,
          bank_acc_no: this.bankAccNo
        })
        .then(res => {
          debugger // eslint-disable-line
          this.isLoading = false
          if (res.error) {
            Dialog.alert('Something is wrong. Please try again.')
            // res.messages
          } else {
            this.isEditingBank = false
            Dialog.alert('Profile successfully updated!')
          }
        })
    }
  }
}
</script>
